﻿@model IEnumerable<Overtime.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container-fluid" style="margin-top:10px;">
        <div class="card">
            <div class="card-body">
               
                <div class="page-header">
                        <h3>User</h3>
                </div>
                <a asp-action="Create" class="btn btn-warning">Create New</a>
                 <hr/>
                <div id="liveMonitoring">
                    <div class="card">
                        <div class="card-body">
                            <table class="table  table-responsive text-nowrap" id="mytable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.u_id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.u_full_name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.u_name)
                                        </th>


                                        <th>
                                            @Html.DisplayNameFor(model => model.u_role_description)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.u_allocation_yn)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.u_is_admin)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.u_active_yn)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.u_cre_by_Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.u_cre_date)
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_full_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_name)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_role_description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_allocation_yn)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_is_admin)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_active_yn)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_cre_by_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_cre_date)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.u_id">Edit</a>
                                        </td>
                                        <td>
                                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.u_id">Delete</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                </div>
</div>
</div>