﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Overtime</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/select2.css" rel="stylesheet" />
    <link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/calandarstyle.css" rel="stylesheet" />
    <link href="~/fonts/font.css" rel="stylesheet" />
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">A2C Services LLC</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">

            </div>
        </form>
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/Home/Reset">Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Home/Logout">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Modules</div>
                        <a class="nav-link" href="/Home/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        @if (ViewBag.MenuList != null)
                        {
                            @foreach (var item in ViewBag.MenuList)
                            {

                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="@String.Format("#nav{0}",@item.m_id)" aria-expanded="true" aria-controls="collapseLayout">
                                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                    @item.m_description
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                @if (item.menuItem != null)
                                {
                                    <div class="collapse" id="@String.Format("nav{0}", @item.m_id)" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            @foreach (var abc in item.menuItem)
                                            {
                                                <a class="nav-link" href="@abc.m_link">@abc.m_description</a>

                                            }
                                        </nav>
                                    </div>
                                }
                            }


                        }
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    @ViewBag.Name
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div>
                    @RenderBody()
                </div>
            </main>
        </div>

        <div class="modal fade bd-example-modal-lg" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">History</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="modalContainer" style="margin-top:20px;">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="insightsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Insights</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row" id="filter">

                                <div class="col-md-4">
                                    <input type="hidden" id="id" name="id" class="form-control">
                                    <input type="hidden" id="doc_id" name="doc_id" class="form-control">
                                    <input type="text" id="remarks" name="in_remarks" class="form-control" placeholder="Enter Remarks..">
                                </div>

                                <div class="col-md-2">
                                    <input type="button" id="save" class="btn btn-success" onclick="saveInsight()" value="Save" />
                                </div>
                                <hr />

                            </div>

                            <div class="row ">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-body ">
                                            <div id="insightsContainer">

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="workingHourModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">WorkingHour</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">

                            <div class="row" id="whfilter">
                                <div class="col-md-2">
                                    <input type="text" id="time" name="time" class="form-control" placeholder="Enter In Minutes" onkeyup="updateHour();" step=".01">
                                </div>
                                <div class="col-md-2">
                                    <input type="hidden" id="id" name="id" class="form-control">
                                    <input type="hidden" id="doc_id" name="doc_id" class="form-control">
                                    <input type="number" id="wh_hours" name="wh_hour" class="form-control" placeholder="Hours" disabled step=".01">

                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="wh_remarks" name="wh_remarks" class="form-control" placeholder="Enter Remarks..">
                                </div>
                                <div class="col-md-1">
                                    <input type="button" id="save" class="btn btn-success" onclick="saveWorkinghour()" value="Add" />
                                </div>
                                <hr />

                            </div>

                            <div class="row ">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-body ">
                                            <div id="workingHourContainer">

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlay" style="display:none;">
            <div class="spinner"></div>
            <br />
            Loading...
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/scripts.js" asp-append-version="true"></script>
        <script src="~/js/myscript.js" asp-append-version="true"></script>
        <script src="~/js/jquery.dataTables.min.js"></script>
        <script src="~/js/dataTables.bootstrap.min.js"></script>
        <script src="~/js/dataTables.responsive.min.js"></script>
        <script src="~/js/responsive.bootstrap.min.js"></script>
        <script src="~/js/all.min.js" crossorigin="anonymous"></script>
        <script src="~/js/moment.min.js"></script>
        <script src="~/js/daterangepicker.min.js"></script>
        <link href="~/css/daterangepicker.css" rel="stylesheet" />
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/js/dataTables.buttons.min.js"></script>
        <script src="~/js/jszip.min.js"></script>
        @*<script src="~/js/pdfmake.min.js"></script>*@
        @*<script src="~/js/vfs_fonts.js"></script>*@
        <script src="~/js/multiselect.min.js"></script>
        <script src="~/js/buttons.html5.min.js"></script>
        <script src="~/js/sum().js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/js/calandarscript.js"></script>
        @RenderSection("Scripts", required: false)

</body>

</html>
